---
layout: default
---

<div class="home">

  <h1 class="page-heading">Tutorials</h1>

  {{ content }}

  <ul class="post-list">
    {% for lesson in site.lessons %}
      <li>
<!--        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span> -->

        <h2>
          <a class="post-link" href="{{ lesson.url | relative_url }}">{{ lesson.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe"><a href="https://www.nesi.org.nz/">NeSI website </a></p>

</div>
